h1 {
    color: blue;
    font-size: 4em;
}

.highlight {
    background-color: yellow;
    padding: 30px;
    border: 7px solid red;
    margin: 40px;
}

.container {
    padding: 30px;
    border: 7px solid red;
    margin: 40px;
}