.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    border: 10px solid #ccc;
    padding: 20px;
}

